# Missão 5: Analisar o Comportamento de Compra de Consumidores.

In [2]:
import pandas as pd
import numpy as np

load_file = "dados_compras.json"
purchase_file = pd.read_json(load_file, orient = "records")
purchase_file

,Login,Idade,Sexo,Item ID,Nome do Item,Valor
0,Aelalis34,38,Masculino,165,Bone Crushing Silver Skewer,3.37
1,Eolo46,21,Masculino,119,"Stormbringer, Dark Blade of Ending Misery",2.32
2,Assastnya25,34,Masculino,174,Primitive Blade,2.46
3,Pheusrical25,21,Masculino,92,Final Critic,1.36
4,Aela59,23,Masculino,63,Stormfury Mace,1.27
...,...,...,...,...,...,...
775,Eural50,22,Masculino,98,"Deadline, Voice Of Subtlety",3.62
776,Lirtossa78,14,Masculino,104,Gladiator's Glaive,1.36
777,Tillyrin30,20,Masculino,117,"Heartstriker, Legacy of the Light",4.15
778,Quelaton80,20,Masculino,75,Brutality Ivory Warmace,1.72
779,Alim85,23,Feminino,107,"Splitter, Foe Of Subtlety",3.61

# 1) ** Contagem de Consumidores **

### 1.1) Número total de consumidores

In [3]:
n_consumidores = purchase_file['Login'].unique()
print('There are exactly',len(n_consumidores),'unique customers!')

There are exactly 573 unique customers!

# 2) ** Análise Geral de Compras **

### 2.1) Número de itens exclusivos

In [4]:
n_itens = purchase_file['Item ID'].unique()
print('There are exactly',len(n_itens),'unique items!')

There are exactly 183 unique items!

### 2.2) Preço médio das compras

In [5]:
preco_medio_compras = (purchase_file['Valor'].sum())/len(purchase_file)
print('Sales Average Price:', round(preco_medio_compras,2))

Sales Average Price: 2.93

### 2.3) Numero Total de Compras por pessoa

In [6]:
precos = []
qtd_compras = []
for name in n_consumidores:
    for login in range(len(purchase_file['Login'])):
        if purchase_file['Login'][login] == name:
            precos.append(purchase_file['Valor'][login])
        else:
            continue
    qtd_compras.append(len(precos))
    precos = []

df2_3= pd.DataFrame()
df2_3['Login'] = n_consumidores
df2_3['QTD'] = qtd_compras
display(df2_3)

             Login  QTD
0        Aelalis34    2
1           Eolo46    1
2      Assastnya25    2
3     Pheusrical25    1
4           Aela59    1
..             ...  ...
568     Lassista97    1
569        Sidap51    1
570  Chamadarsda63    1
571     Quelaton80    1
572         Alim85    1

[573 rows x 2 columns]

### 2.4) Rendimento total

In [7]:
rendimento_total = purchase_file['Valor'].sum()
print('Total Income:', round(rendimento_total,2))

Total Income: 2286.33

# 3) ** Informações Demográficas Por Gênero **

### 3.1) Porcentagem e contagem de compradores masculinos

In [8]:
lista_sexo = []

for name_exclusivo in n_consumidores:
    for index in range(len(purchase_file['Sexo'])):
        if name_exclusivo == purchase_file['Login'][index]:
            lista_sexo.append(purchase_file['Sexo'][index])
            break
        else:
            continue
            
print('O percentual de compradores masculinos é:', round((lista_sexo.count('Masculino')/len(lista_sexo))*100,2),'%')
print('A contagem de compradores masculinos é:', lista_sexo.count('Masculino'))

O percentual de compradores masculinos é: 81.15 %
A contagem de compradores masculinos é: 465

### 3.2) Porcentagem e contagem de compradores femininos

In [9]:
lista_sexo = []

for name_exclusivo in n_consumidores:
    for index in range(len(purchase_file['Sexo'])):
        if name_exclusivo == purchase_file['Login'][index]:
            lista_sexo.append(purchase_file['Sexo'][index])
            break
        else:
            continue
            
print('O percentual de compradores femininos é:', round((lista_sexo.count('Feminino')/len(lista_sexo))*100,2),'%')
print('A contagem de compradores femininos é:', lista_sexo.count('Feminino'))

O percentual de compradores femininos é: 17.45 %
A contagem de compradores femininos é: 100

### 3.3) Porcentagem e contagem de outros / não divulgados

In [10]:
lista_sexo = []

for name_exclusivo in n_consumidores:
    for index in range(len(purchase_file['Sexo'])):
        if name_exclusivo == purchase_file['Login'][index]:
            lista_sexo.append(purchase_file['Sexo'][index])
            break
        else:
            continue
            
print('O percentual de compradores cujo gênero é outro ou não foi divulgado é:', round((lista_sexo.count("Outro / Não Divulgado")/len(lista_sexo))*100,2),'%')
print('A contagem de compradores cujo gênero é outro ou não foi divulgado é:', lista_sexo.count("Outro / Não Divulgado"))

O percentual de compradores cujo gênero é outro ou não foi divulgado é: 1.4 %
A contagem de compradores cujo gênero é outro ou não foi divulgado é: 8

# 4) ** Análise de Compras Por Gênero **

### 4.1) Número de compras por gênero

In [11]:
precos = []
qtd_compras = []
for sexo in np.unique(np.array(lista_sexo)):
    for genero in range(len(purchase_file['Sexo'])):
        if purchase_file['Sexo'][genero] == sexo:
            precos.append(purchase_file['Valor'][genero])
        else:
            continue
    qtd_compras.append(len(precos))
    precos = []

df4_1= pd.DataFrame()
df4_1['Sexo'] = np.unique(np.array(lista_sexo))
df4_1['QTD de Compras por Genero'] = qtd_compras
df4_1 = df4_1.sort_values(by=['QTD de Compras por Genero'], ascending=False).reset_index(drop=True)
display(df4_1)

                    Sexo  QTD de Compras por Genero
0              Masculino                        633
1               Feminino                        136
2  Outro / Não Divulgado                         11

### 4.2) Preço médio de compra por gênero

In [12]:
precos = []
preco_medio = []

for sexo in np.unique(np.array(lista_sexo)):
    for genero in range(len(purchase_file['Sexo'])):
        if purchase_file['Sexo'][genero] == sexo:
            precos.append(purchase_file['Valor'][genero])
        else:
            continue
    preco_medio.append(round((np.mean(precos)),2))
    precos = []

df4_2= pd.DataFrame()
df4_2['Sexo'] = np.unique(np.array(lista_sexo))
df4_2['Média de Preços'] = preco_medio
df4_2 = df4_2.sort_values(by=['Média de Preços'], ascending=False).reset_index(drop=True)
display(df4_2)

                    Sexo  Média de Preços
0  Outro / Não Divulgado             3.25
1              Masculino             2.95
2               Feminino             2.82

### 4.3) Valor Total de Compra

In [13]:
precos = []
compra_total = []

for sexo in np.unique(np.array(lista_sexo)):
    for genero in range(len(purchase_file['Sexo'])):
        if purchase_file['Sexo'][genero] == sexo:
            precos.append(purchase_file['Valor'][genero])
        else:
            continue
    compra_total.append(sum(precos))
    precos = []

df4_3= pd.DataFrame()
df4_3['Sexo'] = np.unique(np.array(lista_sexo))
df4_3['Valor total de Compra'] = compra_total
df4_3 = df4_3.sort_values(by=['Valor total de Compra'], ascending=False).reset_index(drop=True)
display(df4_3)

                    Sexo  Valor total de Compra
0              Masculino                1867.68
1               Feminino                 382.91
2  Outro / Não Divulgado                  35.74

### 4.4) Compras for faixa etária

In [14]:
precos = []
qtd_compras = []

for idade in purchase_file['Idade'].unique():
    for year in range(len(purchase_file['Idade'])):
        if purchase_file['Idade'][year] == idade:
            precos.append(purchase_file['Valor'][year])
        else:
            continue
    qtd_compras.append(len(precos))
    precos = []

df4_4= pd.DataFrame()
df4_4['Idade'] = purchase_file['Idade'].unique()
df4_4['QTD de Compras por Idade'] = qtd_compras
df4_4 = df4_4.sort_values(by='QTD de Compras por Idade', ascending=False).reset_index(drop=True)
df4_4.head()

   Idade  QTD de Compras por Idade
0     20                        98
1     24                        70
2     22                        68
3     25                        67
4     23                        57

# 5) ** Identifique os 5 principais compradores pelo valor total de compra e, em seguida, liste (em uma tabela): **

### Login, Número de compras, Preço médio de compra, Valor Total de Compra, Itens mais populares

In [15]:
precos = []
valor_total_compras = []
for name in n_consumidores:
    for login in range(len(purchase_file['Login'])):
        if purchase_file['Login'][login] == name:
            precos.append(purchase_file['Valor'][login])
        else:
            continue
    valor_total_compras.append(sum(precos))
    precos = []

df5= pd.DataFrame()
df5['Login'] = n_consumidores
df5['Valor Total de Compras por Pessoa'] = valor_total_compras
df5 = df5.sort_values(by='Valor Total de Compras por Pessoa', ascending = False).reset_index(drop=True)
df5['Número de Compras'] = [df2_3.loc[df2_3['Login'] == df5['Login'][i],'QTD'].values[0] for i in range(len(df5['Login']))]
df5['Preço Médio de Compra'] = round((df5['Valor Total de Compras por Pessoa']/df5['Número de Compras']),2)

itemID = []
dict_IDitem = {}
for name in n_consumidores:
    for login in range(len(purchase_file['Login'])):
        if purchase_file['Login'][login] == name:
            itemID.append(purchase_file['Item ID'][login])
        else:
            continue
    dict_IDitem[name] = itemID
    itemID = []
df5['ID dos Itens Comprados'] = [[df5['Login'][i] == dict_IDitem.keys(), dict_IDitem[df5['Login'][i]]][1] for i in range(len(df5['Login']))]
    
df5.head()

,Login,Valor Total de Compras por Pessoa,Número de Compras,Preço Médio de Compra,ID dos Itens Comprados
0,Undirrala66,17.06,5,3.41,"[144, 115, 62, 18, 133]"
1,Saedue76,13.56,4,3.39,"[13, 140, 7, 73]"
2,Mindimnya67,12.74,4,3.18,"[140, 163, 145, 161]"
3,Haellysu29,12.73,3,4.24,"[96, 166, 91]"
4,Eoda93,11.58,3,3.86,"[35, 173, 76]"

## 6) ** Identifique os 5 itens mais populares por contagem de compras e, em seguida, liste (em uma tabela): **

### ID do item, Nome do item, Número de compras, Preço do item, Valor Total de Compra, Itens mais lucrativos

In [16]:
precos = []
qtd_compras = []
for item in n_itens:
    for identidade in range(len(purchase_file['Item ID'])):
        if purchase_file['Item ID'][identidade] == item:
            precos.append(purchase_file['Valor'][identidade])
        else:
            continue
    qtd_compras.append(len(precos))
    precos = []

df6 = pd.DataFrame()
df6['Item ID'] = n_itens
df6['Nome do Item'] = [purchase_file.loc[purchase_file['Item ID'] == df6['Item ID'][i],'Nome do Item'].values[0] for i in range(len(df6['Item ID']))]
df6['Número de Compras por Item'] = qtd_compras
df6 = df6.sort_values(by='Número de Compras por Item', ascending = False).reset_index(drop=True)
df6['Preço do Item'] = [purchase_file.loc[purchase_file['Item ID'] == df6['Item ID'][i],'Valor'].values[0] for i in range(len(df6['Item ID']))]
df6['Valor Total de Compra'] = round((df6['Preço do Item']*df6['Número de Compras por Item']),2)
df6.head()

,Item ID,Nome do Item,Número de Compras por Item,Preço do Item,Valor Total de Compra
0,39,"Betrayal, Whisper of Grieving Widows",11,2.35,25.85
1,84,Arcane Gem,11,2.23,24.53
2,175,Woeful Adamantite Claymore,9,1.24,11.16
3,13,Serenity,9,1.49,13.41
4,31,Trickster,9,2.07,18.63

## 7) ** Identifique os 5 itens mais lucrativos pelo valor total de compra e, em seguida, liste (em uma tabela): **

### ID do item, Nome do item, Número de compras, Preço do item, Valor Total de Compra

In [17]:
precos = []
qtd_compras = []
for item in n_itens:
    for identidade in range(len(purchase_file['Item ID'])):
        if purchase_file['Item ID'][identidade] == item:
            precos.append(purchase_file['Valor'][identidade])
        else:
            continue
    qtd_compras.append(len(precos))
    precos = []

df7 = pd.DataFrame()
df7['Item ID'] = n_itens
df7['Nome do Item'] = [purchase_file.loc[purchase_file['Item ID'] == df7['Item ID'][i],'Nome do Item'].values[0] for i in range(len(df7['Item ID']))]
df7['Número de Compras por Item'] = qtd_compras
df7['Preço do Item'] = [purchase_file.loc[purchase_file['Item ID'] == df7['Item ID'][i],'Valor'].values[0] for i in range(len(df7['Item ID']))]
df7['Valor Total de Compra'] = round((df7['Preço do Item']*df7['Número de Compras por Item']),2)
df7 = df7.sort_values(by='Valor Total de Compra', ascending = False).reset_index(drop=True)
df7.head()

,Item ID,Nome do Item,Número de Compras por Item,Preço do Item,Valor Total de Compra
0,34,Retribution Axe,9,4.14,37.26
1,115,Spectral Diamond Doomblade,7,4.25,29.75
2,32,Orenmir,6,4.95,29.70
3,103,Singed Scalpel,6,4.87,29.22
4,107,"Splitter, Foe Of Subtlety",8,3.61,28.88